
fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic[email]
python-multipart
python-dotenv

passlib[argon2]

python-jose[cryptography]
PyJWT          

requests
httpx
authlib

cloudinary
